<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: scriptImport (pageTitle='[Administrateur] - Accueil')"></head>

<body>
    <div th:replace="fragments/header::header"></div>
    <main>
        <h1 class="text-center p-3">Bienvenue sur votre espace administrateur</h1>
        <section class="row m-auto col-11 justify-content-center">

            <div class="card col-11 col-md-4 m-1">
                <div class="card-body text-center">

                    <h3 class="card-title">Créer un nouvel événement</h3>
                    <p class="card-text">Ajouter un nouvel événement à ouvrir à la vente. Renseignez le type d'épreuve,
                        la
                        date et le lieu, ainsi que la capacité d'accueil maximale
                    </p>
                    <a class="btn btn-primary m-1" th:href="@{/admin/creerEvenement}">JE CREE UN EVENEMENT </a>
                </div>
            </div>

            <div class="card col-11 col-md-4 m-1">
                <div class="card-body text-center">

                    <h3 class="card-title">Créer une nouvelle offre</h3>
                    <p class="card-text">Ajouter une nouvelle offre pour les acheteurs. Renseignez le nombre de places
                        inclus dans l'offre, la réduction offerte ainsi que le nom que vous donnerez à cette offre
                    </p>
                    <a class="btn btn-primary m-1" th:href="@{/admin/creerOffre}">JE CREE UNE OFFRE </a>
                </div>
            </div>

            <div class="card col-11 col-md-4 m-1">
                <div class="card-body text-center">

                    <h3 class="card-title">Gérer les offres</h3>
                    <p class="card-text">Activer ou désactiver les offres en fonction des besoins
                    </p>
                    <a class="btn btn-primary m-1" th:href="@{/admin/gereroffres}">JE GERE LES OFFRE </a>
                </div>
            </div>

            <div class="card col-11 col-md-4 m-1">
                <div class="card-body text-center">

                    <h3 class="card-title">Consulter les données des événements en vente</h3>
                    <p class="card-text">Consultez les ventes en cours pour vos événements
                    </p>
                    <a class="btn btn-primary m-1" th:href="@{/admin/consulterEvenement}">JE CONSULTE LES DONNEES </a>
                </div>
            </div>

        </section>
    </main>
    <div th:replace="fragments/footer::footer"></div>
</body>

</html>