<!doctype html>
<html lang="fr">

<head th:replace="fragments/head :: scriptImport (pageTitle='[Administrateur] - Créer un nouvel événement')"></head>

<body>
    <div th:replace="fragments/header::header "></div>
    <main>
        <div class="formulaire">
            <div>
                <h1>CREER UN NOUVEL EVENEMENT</h1>
            </div>
            <form method="post" th:action="@{/admin/creerEvenement}" th:object="${evenement}">
                <!--<div th:if="${errorMessageDoublon}" class="alert" th:utext="${errorMessageDoublon}"></div>-->
                <div class="champ"> <label for="sport">SPORT : </label>
                    <input type="text" th:field="*{sport}" required>
                </div>
                <div class="champ"> <label for="nomEvenement">NOM DE L'EVENEMENT : </label>
                    <input type="text" th:field="*{nomEvenement}" required>
                </div>
                <div class="champ"> <label for="dateEvenement">DATE : </label>
                    <input type="date" th:field="*{dateEvenement}" required>
                </div>
                <div class="champ"> <label for="heureEvenement">HEURE : </label>
                    <input type="time" th:field="*{heureEvenement}" required>
                </div>
                <div class="champ"><label for="capaciteMax">CAPACITE MAXIMALE : </label>
                    <input type="number" th:field="*{capaciteMax}" required>
                </div>
                <div class="champ"><label for="lieu">LIEU : </label>
                    <input type="text" th:field="*{lieu}" required>
                </div>
                <div class="champ"><label for="prixBillet">PRIX DU BILLET A L'UNITE : </label>
                    <input type="text" th:field="*{prixBillet}" required>€
                </div>

                <input type="submit" value="CREER EVENEMENT" style="font-family: Belgrad;">
            </form>
        </div>
    </main>
</body>

</html>