<!doctype html>
<html lang="fr">

<head th:replace="fragments/head :: scriptImport (pageTitle='[Administrateur] - Créer un nouvel événement')"></head>

<body>
    <div th:replace="fragments/header::header "></div>
    <main>
        <div class="formulaire mb-3">
            <div class="text-center">
                <h3>Créer un nouvel événement</h3>
            </div>
            <form method="post" th:action="@{/admin/creerEvenement}" th:object="${evenement}">
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{sport}" placeholder="Sport" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{nomEvenement}" placeholder="Nom de l'événement"
                        required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" th:field="*{dateEvenement}" required>
                </div>
                <div class="form-group">
                    <input class="form-control" id="heure" type="time" th:field="*{heureEvenement}" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{capaciteMax}"
                        placeholder="Capacité maximale de l'événement" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{lieu}" placeholder="Lieu" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{prixBillet}"
                        placeholder="Prix du billet à l'unité (€)" required>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Créer l'événement">
                </div>
            </form>
        </div>
    </main>
    <div th:replace="fragments/footer::footer"></div>
</body>

</html>