spring:
  application:
    name: billetterie-jo-2024
  profiles:
    active: ${PROFIL:prod}
---
  
#Profil pour la prod (avec Redis)
spring:
  config:
    activate:
      on-profile: prod
      
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  session:
    timeout: 30m
  thymeleaf:
    cache: true
  jackson:
    time-zone: Europe/Paris
          
  jpa:
   show-sql: true
   
   hibernate:
    ddl-auto: update 
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

            
logging:
  level:
    org.springframework.security: DEBUG


server:
 forward-headers-strategy: framework
 address: 0.0.0.0 
 port: ${PORT:8081}
 servlet:
  session:
    cookie:
      secure: true
      same-site: lax 
 compression:
  enabled: true
  mime-types: text/html,text/xml,text/plain,application/json,text/css,application/javascript
 
app:
  base-url: ${APP_BASE_URL}
  
---
#Profil pour le local (sans Redis)
spring: 
  config:
    activate:
      on-profile: local
  
  autoconfigure:
    exclude:
          - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
          - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration
        
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    
    
  thymeleaf:
    cache: false
  jackson:
    time-zone: Europe/Paris
            
  jpa:
   show-sql: true
     
   hibernate:
    ddl-auto: create 
    
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
    level:
      org.springframework.security: DEBUG


server:
   forward-headers-strategy: framework
   address: 0.0.0.0 
   port: ${PORT:8081}
   servlet:
    session:
      cookie:
        secure: true
        same-site: lax 
   compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,application/json,text/css,application/javascript 
   
app:
    base-url: ${APP_BASE_URL} 

---

#Profil pour le test (base H2)
spring: 
  config:
    activate:
      on-profile: test
            
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
    
    
  thymeleaf:
    cache: false
  jackson:
    time-zone: Europe/Paris
            
  jpa:
   show-sql: true
     
   hibernate:
    ddl-auto: create-drop
        
     
logging:
    level:
      org.springframework.security: DEBUG

server:
   forward-headers-strategy: framework
   address: 0.0.0.0 
   port: ${PORT:8081}
   servlet:
    session:
      cookie:
        secure: true
        same-site: lax 
   compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,application/json,text/css,application/javascript 
       
app:
    base-url: http://localhost:8081 
  
  
  
  
