@font-face {
    font-family: Olympic Sans;
    src: url("/fonts/OlympicSans.ttf");
}

body{
    background-image: url("../img/background.webp");
    background-size:cover;
    background-attachment: fixed;
    font-family: Olympic Sans;
}

main{
    padding-top: 75px;
}

.fond-billetterie{
    background-color:  rgba(255, 255, 255, 0.7);
}

.formulaire {
    width : 50%;
    padding: 20px;
    margin:auto;
    margin-top : 50px;
    background-color: rgba(255,255,255,0.9);
    border-radius : 10px;
    opacity: 0.9;
}

.nav-link{
    padding-bottom: 0px;
}

.nav-item:hover{
    border-bottom: solid;
    border-color: gray;
    border-radius: 10%;
    transition: ease 0.1s;
}




.form-control{
    margin:5px;
}

input{
    flex-grow : 0.95;
    margin-right : 10px;
    border-radius: 5px;
    opacity: 1;
}


.navbar-brand img{
    max-height: 70px ;
    width : auto;
    margin-bottom : 5px;
}

.navbar{
    
    max-height: 75px;
}



h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.card{
    margin:10px;
    background-color: rgba(255,255,255,0.9);
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.02);
    transition : 0.4s;
    overflow: hidden;
    
}



.card img{
height: 300px;
object-fit: cover;
}

.progress{
    text-align: center;
}

.btn{
    opacity: 1;
}

.panier-recap{
    max-height: 80vh;
    height : auto;
    top:85px;
}

.panier-row{
    align-items: flex-start;
}

.card-content{

    overflow-y: auto;

}

.panier-recap:hover{
    transform: scale(1);
}

.info{
   opacity: 0;
}

.affInfo{
    opacity: 0.8;
    transition-duration: 1s;
}

.hideInfo{
    opacity: 0;
    transition-duration: 1s;
}

.hidden-transition{
opacity: 0;
transition:3s;}

.hidden{
    display: none;
}

.corbeille:hover{
    transform: scale(1.1);
    overflow: hidden;
}
