<!doctype html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
        defer></script>

    <script th:src="@{/scripts/scriptDeconnexion.js}" defer></script>
    <script th:src="@{/scripts/scriptNbElementsPanier.js}" defer></script>
    <script th:src="@{/scripts/scriptAffichageBillet.js}" defer></script>



    <link rel="stylesheet" th:href="@{/style/style.css}">

    <link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
    <title>Compte utilisateur</title>
</head>

<body>
    <main>
        <div th:replace="fragments/header::header "></div>
        <h1 class="text-center">Retrouvez ici vos réservations finalisées pour les événements à venir :</h1>
        <section class="container row align-items-center justify-content-center m-auto">
            <div th:each="reservation : ${reservations}" class="reservation card col-12 col-md-3 p-0">

                <div class="card-body text-center p-0">
                    <h3 class="card-header" th:text="${reservation.evenement.sport}"></h3>
                    <h3 class="card-title" th:text="${reservation.evenement.nomEvenement}"></h3>
                    <p th:text="|${reservation.offreChoisie.nbPlaces} places|">
                    </p>
                    <p class="card-text"
                        th:text="|Le ${#temporals.format(reservation.evenement.dateEvenement,'dd/MM/YYYY')} à ${reservation.evenement.heureEvenement}|">
                    </p>
                    <a class="btn btn-success rounded-pill mb-2 btn-afficher-billet"
                        th:attr="data-bs-toggle='modal', data-bs-target='#modalBillet_' + ${reservation.id}, data-reservation=${reservation.id}">Voir
                        mon billet</a>
                </div>
            </div>
        </section>

        <div th:each="reservation : ${reservations}" class="modal" th:id="|modalBillet_${reservation.id}|">
            <div class=" modal-dialog p-0">
                <div class="modal-content">
                    <div class="modal-header text-center p-2 bg-success-subtle">
                        <h4>Présentez ce QR Code à l'organisateur pour accéder à l'événement</h4>
                        <button class="btn-close m-2" type="button" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5 th:text="|${reservation.evenement.sport} - ${reservation.evenement.nomEvenement}|"></h5>
                        <div th:id="|qrCode-${reservation.id}|"></div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div th:replace="fragments/footer::footer "></div>
</body>

</html>