<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Page d'inscription</title>
  <link rel="stylesheet" th:href="@{style/style.css}">
  <script src="scripts/scriptRegister.js" defer></script>
</head>

<body>

  <div class="formulaire">
    <div>
      <h1>Je m'inscris</h1>
    </div>
    <form method="post" th:action="@{/register}" th:object="${utilisateur}">
      <div class="champ"> <label for="nom">Nom : </label>
        <input type="text" th:field="*{nom}" required>
      </div>
      <div class="champ"> <label for="prenom">Prénom : </label>
        <input type="text" th:field="*{prenom}" required>
      </div>
      <div class="champ"> <label for="mail">Adresse mail : </label>
        <input type="email" th:field="*{mail}" required>
      </div>
      <div class="champ"><label for="password">Mot de passe : </label>
        <input type="password" th:field="*{password}" required>
      </div>
      <input type="submit" value="Je m'inscris">
    </form>
  </div>
</body>

</html>