body{
    background-image: url("img/background.webp");
    background-size: cover;
}

.formulaire {
    width : 400px;
    padding: 20px;
    margin:auto;
    background-color: white;
    border-radius : 20px;
    text-align: center;
}

.champ{
    padding:10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

input{
    flex-grow : 0.9;
}