<!DOCTYPE html>
<html lang="en">

<head th:fragment="scriptImport(pageTitle)">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
        defer></script>

    <script th:src="@{/scripts/scriptDeconnexion.js}" defer></script>

    <link rel="stylesheet" th:href="@{/style/style.css}">

    <title th:text="${pageTitle}"></title>
</head>

<body>
    <div th:replace="fragments/header::header"></div>
    <main>
        <section class="row m-1 col-12 justify-content-center">

            <div th:each="sport : ${sports}" class="card col-12 col-md-2 mx-3 p-0 border-0">
                <img th:with="imageName=${sport.replace(' ','-').toLowerCase()}"
                    th:src="@{'/img/img_' + ${imageName} + '.jpg'}" alt="" class="img-fluid card-img-top">
                <div class="card-body text-center">
                    <h3 class="card-title" th:text="${sport.replace('-',' ')}"></h3>
                    <a th:href="@{|/billetterie/pagesport?sport=${sport.replace(' ','-').toLowerCase}|}"
                        class="stretched-link"></a>
                </div>
            </div>

        </section>
    </main>
</body>

</html>