!
<!DOCTYPE html>
<html lang="en">

<head th:fragment="scriptImport(pageTitle)">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
        defer></script>

    <script th:src="@{/scripts/scriptDeconnexion.js}" defer></script>
    <script th:src="@{/scripts/scriptBilletterie.js}" defer></script>
    <script th:src="@{/scripts/scriptNbElementsPanier.js}" defer></script>


    <link rel="stylesheet" th:href="@{/style/style.css}">

    <title th:text="|Billetterie ${evenements[0].sport.toLowerCase}"></title>
</head>

<body>
    <div th:replace="fragments/header::header "></div>
    <main>
        <div class="fond-billetterie container text-center rounded p-1">

            <nav aria-label="breadcrumb" class="m-2 d-flex justify-content-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-secondary" href="/billetterie">Billetterie</a></li>
                    <li class="breadcrumb-item active " th:text="${evenements[0].sport}"></li>
                </ol>
            </nav>

            <h2 class="text-secondary"
                th:text="|Voici tous les événements à venir en ${evenements[0].sport.toLowerCase()}.|">
            </h2><br>
            <h2 class="text-secondary">Choisissez l'offre qui vous correspond, commandez vos billets et écrivez
                l'histoire
                avec nos
                champions !</h2>




            <div class="alert alert-success fixed-top hidden info" style="top:85px" id="messageSuccesPanier">
                Vos billets ont bien été ajoutés au panier <span><a class='alert-link' href='/billetterie/panier'>Voir
                        mon panier</a></span>
            </div>

            <section class="row m-1 col-12 justify-content-center">

                <div th:each="evenement : ${evenements}" class="card col-12 col-md-3 mx-3"
                    th:attr="data-evenement=${evenement.id}">
                    <div class="card-body text-center">

                        <h3 class="card-title" th:text="${evenement.nomEvenement}"></h3>
                        <p class="card-text"
                            th:text="|le ${#temporals.format(evenement.dateEvenement, 'dd/MM/yyyy')}, à ${evenement.heureEvenement} à ${evenement.lieu}">
                        </p>


                        <p class="card-text" th:if="${evenement.capaciteMax - evenement.billetsVendus > 0}"
                            th:text="|Prix d'un billet : ${#numbers.formatCurrency(evenement.prixBillet)}|"></p>
                        <a class="btn btn-success rounded-pill m-2" th:data-bs-target="|#modalCommande_${evenement.id}|"
                            data-bs-toggle="modal" th:if="${evenement.capaciteMax - evenement.billetsVendus > 0}">Je
                            prends mes places !</a>
                        <a href="" class="btn btn-success m-2"
                            th:if="${evenement.capaciteMax - evenement.billetsVendus == 0}">Je souhaite m'inscrire sur
                            liste
                            d'attente</a>
                        <p class="card-text alert alert-warning m-1 p-1 hidden" th:id="|info-places-${evenement.id}|">
                        </p>

                        <p class="card-text alert alert-danger m-1 p-1 hidden" th:id="|info-complet-${evenement.id}|">
                            Complet</p>

                    </div>

                </div>

            </section>
        </div>
    </main>

    <div th:each="evenement:${evenements}" class="modal" th:id="|modalCommande_${evenement.id}|"
        th:attr="data-evenement-id=${evenement.id}">
        <div class="modal-dialog">
            <div class="modal-content p-4">
                <div class="modal-header">
                    <h3>Je prends mes places</h3>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-start py-0">
                    <div class="row card-text d-flex align-items-center border-bottom py-2">
                        <p class="col-8 my-auto text-end">Offre solo : je n'achète qu'un seul ticket</p>
                        <a href="#" th:id="|btn-offre-solo-${evenement.id}|"
                            th:attr="data-montant=${evenement.prixBillet}, data-evenement=${evenement.id}, data-offre='solo'"
                            class="btn-ajout-panier btn btn-success rounded-pill d-flex align-items-center justify-content-between col-4"><span
                                class="d-flex align-items-center">1<svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" transform="rotate(-60)" fill="currentColor" class="bi bi-ticket ms-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                </svg></span><span>=</span><span
                                th:text="|${#numbers.formatCurrency(evenement.prixBillet)}|"></span></a>
                    </div>
                    <div class="row card-text d-flex align-items-center border-bottom py-2">
                        <p class="col-8 my-auto text-end">Offre duo : j'achète deux tickets et je bénéficie de
                            <strong>5% de remise</strong>
                        </p>
                        <a href="#" th:id="|btn-offre-duo-${evenement.id}|"
                            th:attr="data-montant=${2*0.95*evenement.prixBillet}, data-evenement=${evenement.id}, data-offre='duo'"
                            class="btn-ajout-panier btn btn-success rounded-pill d-flex align-items-center justify-content-between col-4"><span
                                class="d-flex align-items-center">2<svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" transform="rotate(-60)" fill="currentColor" class="bi bi-ticket ms-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                </svg></span><span>=</span><span
                                th:text="|${#numbers.formatCurrency(2*0.95*evenement.prixBillet)}|"></span></a>
                    </div>
                    <div class="row card-text d-flex align-items-center border-bottom py-2">
                        <p class="col-8 my-auto text-end">Offre familiale : j'achète quatre tickets et je
                            bénéficie de <strong> 10% de remise</strong></p>
                        <a href="#" th:id="|btn-offre-familiale-${evenement.id}|"
                            th:attr="data-montant=${4*0.9*evenement.prixBillet}, data-evenement=${evenement.id}, data-offre='familiale'"
                            class="btn-ajout-panier btn btn-success rounded-pill d-flex align-items-center justify-content-between col-4"><span
                                class="d-flex align-items-center">4<svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" transform="rotate(-60)" fill="currentColor" class="bi bi-ticket ms-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                </svg></span><span>=</span><span
                                th:text="|${#numbers.formatCurrency(4*0.9*evenement.prixBillet)}|"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer "></div>
</body>

</html>