name: Spring Boot CI

on:
 push:
   branches: main

jobs:
  build:
   runs-on : ubuntu-latest

   steps:
   - name: Chekout code
     uses: actions/checkout@v3

   - name : Install jdk
     uses: actions/setup-java@v3
     with:
       distribution: temurin
       java-version : 21

   - name : Cache maven dependencies
     uses : actions/cache@v3
     with : 
       path : ~/.m2/repository
       key : ${{runner.os}}-maven-${{ hashFiles('**/pom.xml')}}
       restore-keys: | ${{ runner.os}}-maven-

   - name : Build with tests
     run : mvn clean install  
  
   - name : Package
     run : mvn package -Dspring.profiles.active=prod
